<dict>
	<key>GroupDisplayName</key>
	<dict>
		<key>de</key>
		<string>Navigation type</string>
		<key>en</key>
		<string>Navigation type</string>
		<key>fr</key>
		<string>Navigation type</string>
		<key>it</key>
		<string>Navigation type</string>
		<key>ja</key>
		<string>Navigation type</string>
	</dict>
	<key>GroupMembers</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<dict>
				<key>de</key>
				<string>3 tier</string>
				<key>en</key>
				<string>3 tier</string>
				<key>fr</key>
				<string>3 tier</string>
				<key>it</key>
				<string>3 tier</string>
				<key>ja</key>
				<string>3 tier</string>
			</dict>
			<key>Enabled</key>
			<true/>
			<key>Files</key>
			<array>
				<string>scripts/navigation/3tier.js</string>
			</array>
			<key>Name</key>
			<string>3 tier</string>
			<key>Type</key>
			<string>Javascript</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<dict>
				<key>de</key>
				<string>2 tier (a)</string>
				<key>en</key>
				<string>2 tier (a)</string>
				<key>fr</key>
				<string>2 tier (a)</string>
				<key>it</key>
				<string>2 tier (a)</string>
				<key>ja</key>
				<string>2 tier (a)</string>
			</dict>
			<key>Enabled</key>
			<false/>
			<key>Files</key>
			<array>
				<string>scripts/navigation/2tier_a.js</string>
			</array>
			<key>Name</key>
			<string>2 tier (a)</string>
			<key>Type</key>
			<string>Javascript</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<dict>
				<key>de</key>
				<string>2 tier (b)</string>
				<key>en</key>
				<string>2 tier (b)</string>
				<key>fr</key>
				<string>2 tier (b)</string>
				<key>it</key>
				<string>2 tier (b)</string>
				<key>ja</key>
				<string>2 tier (b)</string>
			</dict>
			<key>Enabled</key>
			<false/>
			<key>Files</key>
			<array>
				<string>scripts/navigation/2tier_b.js</string>
			</array>
			<key>Name</key>
			<string>2 tier (b)</string>
			<key>Type</key>
			<string>Javascript</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<dict>
				<key>de</key>
				<string>Vertical</string>
				<key>en</key>
				<string>Vertical</string>
				<key>fr</key>
				<string>Vertical</string>
				<key>it</key>
				<string>Vertical</string>
				<key>ja</key>
				<string>Vertical</string>
			</dict>
			<key>Enabled</key>
			<false/>
			<key>Files</key>
			<array>
				<string>scripts/navigation/vertical.js</string>
			</array>
			<key>Name</key>
			<string>Vertical</string>
			<key>Type</key>
			<string>Javascript</string>
		</dict>
		<dict>
			<key>DisplayName</key>
			<dict>
				<key>de</key>
				<string>Hide</string>
				<key>en</key>
				<string>Hide</string>
				<key>fr</key>
				<string>Hide</string>
				<key>it</key>
				<string>Hide</string>
				<key>ja</key>
				<string>Hide</string>
			</dict>
			<key>Enabled</key>
			<false/>
			<key>Files</key>
			<array>
				<string>scripts/navigation/hide.js</string>
			</array>
			<key>Name</key>
			<string>Hide</string>
			<key>Type</key>
			<string>Javascript</string>
		</dict>
	</array>
	<key>GroupName</key>
	<string>Navigation type</string>
	<key>GroupSelectionLimit</key>
	<integer>1</integer>
</dict>
